# ==========================================
# Microchip / Atmel Studio Build Outputs
# ==========================================
Debug/
Release/
*.elf
*.hex
*.eep
*.lss
*.srec
*.bin
*.map

# Object and dependency files
*.o
*.d

# ==========================================
# User-specific & IDE Configuration Files
# ==========================================
# Chứa cấu hình layout, breakpoint riêng của từng cá nhân
*.atsuo
*.user
*.suo
APP.c
BTL_AVR.componentinfo.xml
BTL_AVR.cproj
main.c
makefile
# Virtual File System / Cache của Visual Studio core
.vs/

# ==========================================
# Backup & Log Files
# ==========================================
*.bak
*.log
*.tmp
Debug/
*.hex
*.elf
*.o
*.d